
.id-card {
    width: 250px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
 }
 
 .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 .flex-container {
    display:flex;
    /* flex-basis: 33%; */
    background-color: lightgrey;
}
.flex-item {
 
  margin: 20px;
  padding: 10px;
}
.flex-title {
    font-size: 30px;
    font-weight: bold;
}

.food{
  height: 100%;   
  width: 100%;
}

.box{
  position: relative;
}

.box button{
  position: absolute;
  background-color: transparent;
  border-radius: 2px solid black;
}

.explore {
  left: 10%;
  top: 55%;
}

.fav {
  right: 28%;
  top: 55%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-80%, -80%);
}

.centered h1 {
  font-weight: bold;
  color: white;
}

.centered p{
  color: white;
}

#navbar {
  position: relative;
}

.box{
  position: relative;
}

div.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

div.usage {
  margin-top: 50px;
  margin-bottom: 50px;
}




@media (max-width: 768px) {
 .btn.explore {
    margin-right: 10px;
} 

.btn.fav {
  left: 10%;
  top: 75%;
}


}

@media (min-width: 768px) {
  .flex-container  {
    flex-basis: 33%; 
   
    -webkit-flex-basis: 33%;
  }
}