body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map { 
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#RestaurantCard {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

#contain {
  z-index: 1;
}

#flex {
  display: flex;
}

h4 {
  font-weight: 900;
}
