body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-photo{
  width: 100%; 
  height: 500px;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map { 
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#RestaurantCard {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  z-index: 2;
}

#contain {
  z-index: 1;
}

#flex {
  display: flex;
}

h4 {
  font-weight: 900;
}

#cardRow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#cardImg {
  height: 30vh;
}

#card-body {
  overflow: scroll;
}

.alert {
  text-align: center;
  position: absolute;
  top: 4vh;
  left: 0;
  z-index: 10;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  text-align: right;
  background-color: lightgray;
}

.nav-item {
  display: flex;
  align-items: center;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.lower-opacity {
  opacity: 0.3;
}